body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("https://static.vecteezy.com/ti/fotos-gratis/p2/2190531-luzes-vermelhas-brilhando-fracamente-no-fundo-preto-gr%C3%A1tis-foto.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    font-size: 50px;
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    font-size: 25px;
    color: #ffffff;
    margin-top: 16px;
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .resultado {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
  }
  